<div class="base-picker" (click)="closePicker()"></div>
<div class="picker-container" #pickerContainer>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <p>Confirm pickup date and time&nbsp;&nbsp;&nbsp;<ion-icon (click)="closePicker()" name="close-outline"></ion-icon></p>
      </ion-col>
      <ion-col size="12">
        <div class="picker">
          <div class="picker-window"></div>
          <ul class="picker-day">
            <li>Mon, 30 Feb</li>
            <li>Mon, 30 Feb</li>
            <li>Mon, 30 Feb</li>
            <li>Mon, 30 Feb</li>
            <li>Mon, 30 Feb</li>
            <li>Mon, 30 Feb</li>
            <li>Mon, 30 Feb</li>
            <li>Mon, 30 Feb</li>
            <li>Mon, 30 Feb</li>
            <li>Mon, 30 Feb</li>
            <li>Mon, 30 Feb</li>
            <li>Mon, 30 Feb</li>
            <li>Mon, 30 Feb</li>
            <li>Mon, 30 Feb</li>
            <li>Mon, 30 Feb</li>
            <li>Mon, 30 Feb</li>
            <li>Mon, 30 Feb</li>
            <li>Mon, 30 Feb</li>
            <li>Mon, 30 Feb</li>
          </ul>
          <div class="division"></div>
          <ul class="picker-hour">
            <li>14:00 &#177; 15 minutes</li>
            <li>14:00 &#177; 15 minutes</li>
            <li>14:00 &#177; 15 minutes</li>
            <li>14:00 &#177; 15 minutes</li>
            <li>14:00 &#177; 15 minutes</li>
            <li>14:00 &#177; 15 minutes</li>
            <li>14:00 &#177; 15 minutes</li>
            <li>14:00 &#177; 15 minutes</li>
            <li>14:00 &#177; 15 minutes</li>
            <li>14:00 &#177; 15 minutes</li>
            <li>14:00 &#177; 15 minutes</li>
            <li>14:00 &#177; 15 minutes</li>
          </ul>
        </div>
      </ion-col>
      <ion-col size="6">
        <button class="rounded-btn outline" (click)="closePicker()">Cancel</button>
      </ion-col>
      <ion-col size="6">
        <button class="rounded-btn filled">Add to cart</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
