$blue: darken(cornflowerblue, 10);
$cool-gray: #CB652B;
$factory-yellow: #f3e033;

.picker-container {
  position: absolute;
  top:25%;
  left: 8%;
  width: 350px;
  height: 300px;
  z-index: 10000;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.base-picker {
  position: absolute;
  top: 0;
  z-index: 9999;
  background-color: black;
  opacity: 0.2;
  width: 100%;
  height: 100%;
}

p {
  font-size: 18px;
}

p ion-icon {
  font-size: 28px;
  font-weight: bold;
  color: #CB652B;
}
//-------------------//


@mixin hideScrollbars {
  -ms-overflow-style: none; // IE 10+
  &::-webkit-scrollbar {
    display: none;
  }
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.picker-window {
  position: absolute;
  border-top: 1px solid $cool-gray;
  border-bottom: 1px solid $cool-gray;
  height: 1.4em;
  left: 0;
  top: 50%;
  transform: translateY(-65%);
  width: 100%;
  pointer-events: none;
}

.picker {
  display: inline-grid;
  border-radius: 15px;
  position: relative;
  //padding-left: 1rem;
  //padding-right: 1rem;
  grid-template-columns: repeat(4, fit-content(500px));
  font-size: calc(.5rem + 2.4vw);
  font-feature-settings: "tnum";
  font-weight: 400;
  ul {
    @include hideScrollbars();
    max-height: 4em;
    overflow-y: scroll;
    //margin-right: 1em;
    scroll-snap-type: y mandatory;
    padding-bottom: 3em;
    padding-left:1px
  }
  li {
    font-size: 16px;
    scroll-snap-align: center;
    height: 1.4em;
    text-align: right;
    word-spacing: .2em;
  }
}

.picker-day {
  //padding-right: .5em;
  //span {
  //  padding-left: .56em;
  //}
}

.division {
  width: 40px;
  background-color: white;
  position: relative;
  z-index: 999;
}

.rounded-btn {
  border-radius: 25px;
  padding: 20px;
  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #CB652B;
  font-size: 18px;
}

.filled {
  background-color: #CB652B;
  color: white;
}

.outline {
  background-color: white;
  border: 2px solid #CB652B;
}
