.slide-container {
  height: 300px;
  width: 100%;
}

.cover {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.custom-paginator {
  position: absolute;
  z-index: 999;
  top: 250px;
  right: 10px;
  color: white;
  font-family: 'Lucida Fax', serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator-icon {
  font-size: 1px;
}

.custom-header {
  position: absolute;
  z-index: 100;
  top: 0px;
  left: 0px;
  color: white;
}

.custom-avatar {
  position: absolute;
  top: 0px;
  left: 4px;
  width: 60px;
  height: 60px;
}

.corner-div {
  position: absolute;
  top: 2px;
  left: 10px;
  border-radius: 25px;
  opacity: 0.5;
  background: black;
  width: 200px;
  height: 60px;
}

.custom-header-text {
  position: absolute;
  top: 5px;
  left: 70px;
  width: 150px;
  z-index: 101;
}

.custom-header-text span {
  font-family: 'FuturaPT-Light', sans-serif;
}
.custom-header-text p {
  font-size: 14px;
  font-family: Lucida Bright, sans-serif;
}

ion-avatar img{
  border-radius: 50% !important;
  overflow: hidden !important;
  border: 2px solid white !important;
}

.custom-btn-list {
  position: absolute;
  z-index: 999;
  top: 0;
  right: -30px;
  margin-top: 0;
}

.custom-btn-list ul {
  list-style: none;
  margin: 0;
}

.custom-btn-list li {
  opacity: 0.7 !important;
  font-size: 30px;
  margin-bottom: 10px;
  padding-left: 15px;
  border-radius: 25px;
  background: black;
  width: 80px;
  height: 50px;
  color: white;
  display: flex;
  justify-content: left;
  align-items: center;
}

//.custom-btn-list li::before {
//  content: "";
//  display: block;
//  position: absolute;
//  top: 0;
//  left: 100%;
//  border-style: solid;
//  border-color: transparent #F78E1E;
//  border-width: 15px 0 15px 15px;
//  width: 50px;
//  height: 50px;
//}

.navigation {
  width: 100%;
  position: absolute;
  top: 200px;
  z-index: 999;
}
.navigation > * {
  margin-left: 70%;
}

.navigation > *:first-child {
  margin-left: 5%;
}

.circle-btn {
  background-color: black;
  opacity: 0.7;
  border-radius: 50%;
  display: inline-block;
}
.circle-btn ion-icon {
  font-size: 32px;
  color: white;
}


.detail-text {
  color: #CB652B;
  font-family: FuturaPT-Medium, sans-serif;
  font-size: 24px;
}

.detail-text-review {
  font-size: 14px;
}

.detail {
  height: 100%;
  align-items: baseline;
}

.detail-description-container {
  height: 80px;
  overflow: scroll;
}

.detail-description {
  margin-top: 0;
  padding-top: 0;
}

.cat-text {
  color: #CB652B;
  font-size: 18px;
}

.cat-option {
  //position: absolute;
  //top: 2px;
  //left: 10px;
  border-radius: 10px;
  opacity: 0.5;
  //width: 70px;
  //height: 20px;
  color: black;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  //display: flex;
  //align-items: end;
}

.cat-option span {
  color: black;
  font-size: 12px;
  font-family: FuturaPT-Light, sans-serif;
}

.opt-margin {
  margin-left: 5px;
  margin-right: 5px;
}

.horizontal-line {
  width: 100%;
  height: 70%;
  opacity: 0.1;
  border-bottom: 3px solid black;
}

.offer-detail {
  font-size: 14px;
  font-family: FuturaPT-Medium, sans-serif;
}

.offer-detail-text {
  color: #CB652B;
  font-family: Lucida Bright, sans-serif;
}

.cat-option2 {
  //position: absolute;
  //top: 2px;
  //left: 10px;
  border-radius: 10px;
  opacity: 0.5;
  width: 95%;
  //height: 20px;
  color: black;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-top: 8px;
  font-size: 12px;
  //display: flex;
  //align-items: end;
}

.right-border-highlight {
  border-right: 1px solid #acacac;
}

.highlight-container {
  margin-left: 10px;
  margin-top: 20px;
  font-size: 20px;
}

.circle-btn-end {
  margin-left: 20px;
  background-color: #CB652B;
  //opacity: 0.7;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  margin-bottom: 10px;
  font-size: 24px;
}
.circle-btn ion-icon {
  font-size: 32px;
  color: white;
}

.circle-btn-end2 {
  position: absolute;
  top: -20px;
  z-index: 999;
  margin-left: 20px;
  background-color: #CB652B;
  //opacity: 0.7;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  margin-bottom: 10px;
  font-size: 24px;
}

.corner-div-end {
  position: absolute;
  z-index: 999;
  text-align: center;
  top: -20px;
  left: 20px;
  border-radius: 25px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 250px;
  height: 40px;
}

.corner-div-end p {
  text-align: center;
  line-height: 10px;
}
