

<ion-content [fullscreen]="true">
    <div class="base-header">
      <div class="custom-header">
        <div class="custom-header-text">
          <span>By Inna</span>
          <p><ion-icon style="color: #FFD400;" name="star"></ion-icon> 4,5 (<u>22 review</u>)</p>
        </div>
        <div class="corner-div">
        </div>
        <ion-avatar [class.custom-avatar]="true">
          <img src="assets/img/face.png">
        </ion-avatar>
      </div>
      <span class="custom-paginator"><ion-icon style="font-size: 22px" name="camera-outline"></ion-icon>&nbsp;{{currentPos}}/3</span>
      <ion-slides [class.slide-container]="true" [options]="slideOpts"#imageSlider>
        <ion-slide>
          <img class="cover" src="https://www.onceuponachef.com/images/2018/10/Moroccan-Chicken-Tagine-300-760x592.jpg" width="500" height="400">
        </ion-slide>
        <ion-slide>
          <img class="cover" src="https://www.chatelaine.com/wp-content/uploads/2019/02/Moroccan-chicken-tagine.jpg" width="500" height="400">
        </ion-slide>
        <ion-slide>
          <img class="cover" src="https://s3.amazonaws.com/finecooking.s3.tauntonclud.com/app/uploads/2017/04/18123904/051128064-01-sweet-chicken-tagine-apricots-caramelized-walnuts-recipe-main.jpg" width="500" height="400">
        </ion-slide>
      </ion-slides>
      <div class="custom-btn-list">
        <ul>
          <li><ion-icon name="arrow-forward-outline"></ion-icon></li>
          <li><ion-icon name="share-social-outline"></ion-icon></li>
          <li><ion-icon name="heart-outline"></ion-icon></li>
        </ul>
      </div>
      <div class="navigation">
        <div class="circle-btn" (click)="previous()"><ion-icon name="chevron-back-outline"></ion-icon></div>
        <div class="circle-btn" (click)="next()"><ion-icon name="chevron-forward-outline"></ion-icon></div>
      </div>
    </div>
  <app-date-time-picker *ngIf="showPicker" (pickerState)="togglePicker()"></app-date-time-picker>
  <ion-grid>
    <ion-row class="detail">
      <ion-col class="ion-margin-top ion-no-margin ion-no-padding ion-padding-start" size="6">
        <ion-text class="detail-text">Tajine Chicken</ion-text>
      </ion-col>
      <ion-col>
        <p class="detail-text-review"><ion-icon style="color: #FFD400;" name="star"></ion-icon> 4,0 (7 <u>reviews</u>)</p>
      </ion-col>
      <ion-col size="12" class="ion-no-margin">
        <div class="detail-description-container">
          <p class="detail-description">The tajine is the crown of all Moroccan dishes, known for its rich flavour and beautiful colours.
            My tajine will let you forget any other tajine you have ever eaten.…    a couscous tajine with added carrots,
            pumpkin, and raisins. Send me a message for a special request, and maybe I can add it to the tajine.
          </p>
          <p class="detail-description">The tajine is the crown of all Moroccan dishes, known for its rich flavour and beautiful colours.
            My tajine will let you forget any other tajine you have ever eaten.…    a couscous tajine with added carrots,
            pumpkin, and raisins. Send me a message for a special request, and maybe I can add it to the tajine.
          </p>
          <p class="detail-description">The tajine is the crown of all Moroccan dishes, known for its rich flavour and beautiful colours.
            My tajine will let you forget any other tajine you have ever eaten.…    a couscous tajine with added carrots,
            pumpkin, and raisins. Send me a message for a special request, and maybe I can add it to the tajine.
          </p>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-row class="ion-align-items-baseline">
          <ion-col size="3" offset="1">
            <ion-text class="cat-text">Category</ion-text>
          </ion-col>
          <ion-col size="8">
            <ion-grid>
              <ion-row>
                <ion-col size="3" class="ion-no-margin ion-no-padding">
                  <div class="cat-option"><span>Chicken</span></div>
                </ion-col>
                <ion-col size="3" class="ion-no-margin ion-no-padding opt-margin">
                  <div class="cat-option"><span>Olives</span></div>
                </ion-col>
                <ion-col size="3" class="ion-no-margin ion-no-padding">
                  <div class="cat-option"><span>Carrots</span></div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-baseline">
          <ion-col size="3" offset="1">
            <ion-text class="cat-text">Cuisine</ion-text>
          </ion-col>
          <ion-col size="8">
            <ion-grid>
              <ion-row>
                <ion-col size="3" class="ion-no-margin ion-no-padding">
                  <div class="cat-option"><span>Morocan</span></div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-baseline">
          <ion-col size="3" offset="1">
            <ion-text class="cat-text">Allergens</ion-text>
          </ion-col>
          <ion-col size="8">
            <ion-grid>
              <ion-row>
                <ion-col size="3" class="ion-no-margin ion-no-padding">
                  <div class="cat-option"><span>Eggs</span></div>
                </ion-col>
                <ion-col size="3" class="ion-no-margin ion-no-padding opt-margin">
                  <div class="cat-option"><span>Fish</span></div>
                </ion-col>
                <ion-col size="3" class="ion-no-margin ion-no-padding">
                  <div class="cat-option"><span>Cereals</span></div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="12" class="ion-no-padding ion-no-margin">
        <ion-grid class="ion ion-no-margin ion ion-no-padding">
          <ion-row class="ion-justify-content-center ion-no-margin ion-no-padding">
            <ion-col size="4" class="ion-no-padding ion-no-margin">
              <h4>Offer details</h4>
            </ion-col>
            <ion-col size="8" class="ion-no-padding ion-no-margin">
              <div class="horizontal-line"></div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-margin ion-no-padding">
            <ion-col size="4" class="ion-no-padding ion-no-margin ion-text-center">
              <p class="offer-detail-text ion-no-margin">Serving</p>
              <div class="cat-option2"><span>Mo. 15.04.2021</span></div>
              <div class="cat-option2"><span>11:00 - 18:00</span></div>
            </ion-col>
            <ion-col size="4" class="ion-no-padding ion-no-margin ion-text-center">
              <p class="offer-detail-text ion-no-margin">Order Until</p>
              <div class="cat-option2"><span>Sun 14.04.2021</span></div>
              <div class="cat-option2"><span>18:00</span></div>
            </ion-col>
            <ion-col size="4" class="ion-no-padding ion-no-margin ion-text-center">
              <p class="offer-detail-text ion-no-margin">Delivery</p>
              <div><img src="assets/img/deliver-icon.svg" height="40"></div>
            </ion-col>
          </ion-row>
          <ion-row class="ion-no-margin ion-no-padding">
            <ion-col size="4">
              <ion-row class="highlight-container">
                <ion-col size="3" class="right-border-highlight">
                  <img src="assets/img/scale.svg" height="20">
                </ion-col>
                <ion-col size="9">
                  <span>~500g</span>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="4">
              <ion-row class="highlight-container">
                <ion-col size="3" class="right-border-highlight">
                  <img src="assets/img/serve.svg" height="20">
                </ion-col>
                <ion-col size="9">
                  <span>~500g</span>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="4">
              <ion-row class="highlight-container">
                <ion-col size="3" class="right-border-highlight">
                  <ion-icon name="location-outline"></ion-icon>
                </ion-col>
                <ion-col size="9">
                  <span>~500g</span>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding ion-no-margin ion-align-items-center">
      <ion-col size="2" class="ion-no-padding ion-no-margin">
        <div class="circle-btn-end">
          <ion-icon name="add-outline"></ion-icon>
        </div>
        <div class="circle-btn-end">
          <ion-icon name="remove-outline"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="10" class="ion-no-padding ion-no-margin">
        <div class="corner-div-end"><p>1 Tajine Chicken $12.50</p></div>
        <div class="circle-btn-end2 ion-text-center" (click)="togglePicker()">
          <img src="assets/img/bag.png" height="30px">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
